<div class="container">

    <a [routerLink]="['/']" class="btn btn-dark">Go back</a>

    <div class="show-options d-flex align-items-center" *ngIf="!finished">
        <label>Show content</label>
        <button *ngIf="!showLabels" class="btn btn-danger" (click)="triggerShowLabels()">No</button>
        <button *ngIf="showLabels" class="btn btn-success" (click)="triggerShowLabels()">Yes</button>
    </div>

    <div class="mt-4 text" *ngIf="!finished">
        <div>
            <b>Level: </b>
            <span>{{currentWord.Level}}</span>
        </div>

        <div>
            <b>Word: </b>
            <button class="eye-button" *ngIf="!showWord" (click)="showWord = true"><i class="fa-solid fa-eye"></i></button>
            <span *ngIf="showWord">{{currentWord.Word}}</span>
        </div>

        <div>
            <b>Spanish Translation: </b>
            <button class="eye-button" *ngIf="!showTranslation" (click)="showTranslation = true"><i class="fa-solid fa-eye"></i></button>
            <span *ngIf="showTranslation">{{currentWord.Spanish_Translation}}</span>
        </div>

        <div>
            <b>Definition: </b>
            <button class="eye-button" *ngIf="!showDefinition" (click)="showDefinition = true"><i class="fa-solid fa-eye"></i></button>
            <span *ngIf="showDefinition">{{currentWord.Definition}}</span>
        </div>

        <div>
            <b>Example Sentence: </b>
            <button class="eye-button" *ngIf="!showExample" (click)="showExample = true"><i class="fa-solid fa-eye"></i></button>
            <span *ngIf="showExample">{{currentWord.Example_Sentence}}</span>
        </div>

    </div>

    <div class="row" *ngIf="!finished">

        <div class="col-6 col-md-4 col-lg-3 my-1">
            <button class="btn btn-success"(click)="nextWord()">Next word</button>
        </div>

        <div class="col-6 col-md-4 col-lg-3 my-1">
            <button class="btn btn-primary"(click)="sayWord()">Say again</button>
        </div>

        <div class="col-12 col-md-4 col-lg-3 my-1">
            <button class="btn btn-primary"(click)="saySlow()">Say again slowly</button>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-3 my-1">
            <button class="btn btn-secondary"(click)="sayDef()">Say definition</button>
        </div>

        <div class="col-6 col-md-4 col-lg-3 my-1">
            <button class="btn btn-secondary"(click)="sayExample()">Say example</button>
        </div>
    </div>

    <div class="mt-4 text-center" *ngIf="finished">
      <h1>CONGRATULATIONS</h1>
      <h2>You completed you training!!</h2>
    </div>

</div>
