.text {
    font-size: 24px;
}

.btn {
    font-size: 20px;
    font-weight: 500;
}

span, b{
  font-size: 22px !important;
  line-height: 24px;
}

.eye-button {
    border: none;
    background: none;
}

.show-options label{
    font-size: 26px;
    font-weight: 500;
    margin-right: 20px;
}

.show-options button{
    width: 70px;
}
