.text-input{
    width: 100px;
    font-size: 20px;
    font-weight: bold;
}

.radio-input{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

label{
    font-size: 24px;
    font-weight: bold;
}

.col-4{
    padding: 0;
}

button {
    font-size: 32px;
    padding-left: 25px;
    padding-right: 25px;
}